<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script type='text/javascript'src="/js/lib/jquery-1.9.1.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<script type="text/javascript" src='/js/headMenu.js'></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type='text/javascript' src="/js/newsReader.js"></script>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name='description' content='
	A MAQMAN é uma empresa de direito angolano, no âmbito dos seus Estatutos,fundada em Outubro de 2010, tendo uma forma de sociedade comercial por quotas, de responsabilidade limitada.
				 
	A nossa MISSÃO é fornecer soluções para a movimentação de cargas e pessoas bem como equipamento para apoiar as actividades industriais, com especial incidência nos sectores da Distribuição, Construção Civil e Obras Públicas, cuja qualidade e garantia acrescentem valor aos projectos em que intervém.'/>
	<link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'>
	<link rel='icon' href='/img/favicon.ico' type='image/x-icon'>
	<title>MAQMAN</title>
	<link rel="stylesheet" href="/css/lib/flexisel.css"/>
	<link rel="stylesheet" href="/css/lib/flexiselModified.css"/>
	<script type='text/javascript'src="/js/lib/jquery.flexisel.js"></script>
    @{head}

</head>
<body>
	<div id='container'>
		<ul id='partners' style="display:none">
			<li>
				<img class ='ltb' src='/img/partners/manitou.png' link='http://www.pt.manitou.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/ammann.png' link='http://www.ammann-group.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/jungheinrich.png' link='http://www.jungheinrich.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/kalmar.png' link='http://www.cargotec.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/compair.png' link='http://www.compair.pt/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/fassi.png' link='http://www.fassi.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/galtrailer.png' link='http://www.galtrailer.pt/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/silla.png' link='http://www.sillaitaly.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/mustang.png' link='http://www.mustangmfg.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/sumitomo.png' link='http://www.sumitomokenki.com/'></img>
			</li>
			<li>
				<img class ='ltb' src='/img/partners/bell.png' link='http://www.bellequipment.com/'></img>
			</li>
		</ul>

	<script type="text/javascript">

		$(window).on("load",function(){
			$('#partners').flexisel({
				css: "flexiselM",
				clone: true,
				visibleItems: 5,
				animationSpeed: 1000,
		        autoPlay: true,
		        autoPlaySpeed: 3000,            
		        pauseOnHover: true
			});
			$('.ltb').click(imgGoToBlank);
		});
	</script>

		<nav>
			<a href='/'>
			<img id='comp' src="/img/partners/maqman.png"></img>
			</a>
			<div id='cssmenu'>
				<ul>
					<li><a href='/quemsomos'><span>Quem Somos</span></a></li>
				   <li><a href='/vendas'><span>Vendas</span></a>
				   	<ul>
				   		<li><a href='/marca/manitou'><span>Manitou</span></a></li>
				   		<li><a href='/marca/ammann'><span>Ammann</span></a></li>
				   		<li><a href='/marca/jungheinrich'><span>Jungheinrich</span></a></li>
				   		<li><a href='/marca/kalmar'><span>Kalmar</span></a></li>
				   		<li><a href='/marca/compair'><span>Compair</span></a></li>
				   		<li><a href='/marca/fassi'><span>Fassi</span></a></li>
				   		<li><a href='/marca/mustang'><span>Mustang</span></a></li>
				   		<li><a href='/marca/sillaitaly'><span>Silla Italy</span></a></li>
				   		<li><a href='/marca/galtrailer'><span>Galtrailer</span></a></li>
				   		<li><a href='/marca/sumitomo'><span>Sumitomo</span></a></li>
				   	</ul>
				   </li>
				   <li><a href='/aluguer'><span>Aluguer</span></a></li>
				   <li><a href='/assistencia'><span>Assistência</span></a></li>
				   <li><a href='/pecas'><span>Peças</span></a></li>
				   <li class='last'><a href='/contactos'><span>Contactos</span></a></li>
				</ul>
			</div>
		</nav>

	    <section id="body">@{body}</section>
    </div>
    <footer>
        <div id="news" link="http://www.portalangop.co.ao/angola/pt_pt/rss/c3ff3006-90d1-4f80-839b-6fe7b672c62e.xml">
			<h2>Economia</h2>
			<ul>
				
			</ul>
			<div id='right'></div>
		</div>
	</footer>
</body>
</html>