<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <script type='text/javascript'src="/js/lib/jquery-1.9.1.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<script type="text/javascript" src='/js/headMenu.js'></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type='text/javascript' src="/js/newsReader.js"></script>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'>
	<link rel='icon' href='/img/favicon.ico' type='image/x-icon'>
    @{head}

</head>
<body>
	<div id='partners'>
		<img src='/img/partners/manitou.jpg' link='http://www.pt.manitou.com/'></img>
		<img src='/img/partners/ammann.jpg' link='http://www.ammann-group.com/'></img>
		<img src='/img/partners/jungheinrich.jpg' link='http://www.jungheinrich.com/'></img>
		<img src='/img/partners/kalmar.jpg' link='http://www.cargotec.com/'></img>
		<img src='/img/partners/compair.jpg' link='http://www.compair.pt/'></img>
		<img src='/img/partners/fassi.jpg' link='http://www.fassi.com/'></img>
	</div>
	<nav>
		<img id='comp' src="/img/partners/maqman.png"></img>
		<div id='cssmenu'>
			<ul>
			   <li><a href='/'><span>Home</span></a></li>
			   <li><a href='vendas'><span>Vendas</span></a></li>
			   <li><a href='#'><span>Alugar</span></a></li>
			   <li><a href='#'><span>Assistência</span></a></li>
			   <li><a href='#'><span>Peças</span></a></li>
			   <li class='last'><a href='contactos'><span>Contactos</span></a></li>
			</ul>
		</div>
	</nav>

    <section>@{body}</section>
    
    <footer>
        <div id="news" link="http://www.portalangop.co.ao/angola/pt_pt/rss/c3ff3006-90d1-4f80-839b-6fe7b672c62e.xml">
			<h2>Economia</h2>
			<ul>
				
			</ul>
			<div id='right'></div>
		</div>
	</footer>
</body>
</html>