<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>MAQMAN – ALUGUE E RESOLVA OS SEUS PROBLEMAS</p>
 
				<p>Apresentamos soluções, fornecemos o equipamento com assistência especializada garantida, … sempre a funcionar.</p>
				<ul>
					<caption>Pode escolher</caption>
					<li>Empilhador Convencional Diesel</li>
					<li>Empilhador Convencional Elétrico</li>
					<li>Porta Paletes Elétricos</li>
					<li>Empilhador Multifunções Telescópico Cabine Fixa</li>
					<li>Plataforma Elevatória Articulada Diesel</li>
					<li>Plataforma Elevatória Tesoura Elétrica</li>
					<li>Plataforma Elevatória Vertical Elétrica</li>
					<li>Mini Carregadora de Rodas</li>
					<li>...Entre outros</li>
				</ul>
				<p/>
				Consulte-nos:   +244 924 198 989 - carlos.santos@maqman.net
				+244 946 919 205 - mendes.jorge@maqman.net
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				MAQMAN sells a variety of machinery for Construction and Cargo handling equipment. We are continuously receiving machinery, equipment's and accessories from the different manufacturers and rotating our new machinery stock.
				</p>
			</div>
		</div>
	</body>    
</html>
