<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				Somos uma equipa de técnicos especializados.<br>
				Deslocamos a nossa oficina até à sua máquina.<br>
				Garantimos a melhor atenção sobre a saúde da sua máquina.<br> Proporcionamos maior tempo de funcionamento para utilizar mais e melhor a sua máquina.
				</p>
				<p>
				Estamos aos seu dispor:+244 939 170 844 – assistencia.tecnica@maqman.net
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				We have a specialized technicans team<br/>
				We move our workshop to be side by side with your machine<br/>
				We garantee the best attention over your machine health<br/> We offer you a long work periods to use more and better your machine<br/>
				Call us: +244 939 170 844 – assistencia.tecnica@maqman.net
				</p>
			</div>
		</div>
	</body>    
</html>
