<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				Somos uma equipa de técnicos especializados.<br>
				Deslocamos a nossa oficina até à sua máquina.<br>
				Garantimos a melhor atenção sobre a saúde da sua máquina.<br> Proporcionamos maior tempo de funcionamento para utilizar mais e melhor a sua máquina.
				</p>
				<p>
				Estamos aos seu dispor:+244 939 170 844 – assistencia.tecnica@maqman.net
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				We are a team of specialized technicals.<br>
				We move our workshop to your machine.<br>
				We (garantimos) the best attention over your machine's health.<br> We give you a bigger working time to use more and better your machine.
				</p>
			</div>
		</div>
	</body>    
</html>
