<!DOCTYPE html>
<html>
	<head>
		@{head('<link rel="stylesheet" type="text/css" href="css/contactos.css"/>')}
		@{head('<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJod-cSw2YkND9nuMhSmtng2VxWJMav-c&sensor=true" type="text/javascript"></script>')}
		@{head('<script src="/js/miniMap.js"></script>')}
	</head>
	<body>
		<h2>Contactos/Contacts</h2>
		<div id='hor-show'>
			
			<table id='contactTable'>
			
				<tbody>
				<tr>
					<th><strong>Geral/General:</strong></th>
					<td>+244 939 149 560</td>
				</tr>
				<tr>
					<th><strong>Mr. Mário Prieto:</strong></th>
					<td>+244 939 149 559</td>
				</tr>
				<tr>
					<th><strong>Assistência Ténica/Tecnical Service:</strong></th>
					<td>+244 939 170 844</td>
				</tr>
				<tr>
					<th><strong>Balcão de Peças/Spare Parts:</strong></th>
					<td>+244 922 080 593</td>
				</tr>
				<tr>
					<th><strong>Apoio ao Cliente / Call Center:</strong></th>
					<td>+244 922 080 591</td>
				</tr>
				<tr>
					<th><strong>Email:</strong></th>				
					<td>geral@maqman.net<br/>assistencia.tecnica@maqman.net<br/>apoioaocliente@maqman.net</td>
				</tr>
				 
				
				</tr>
				</tbody>
			</table>

			<div id='miniMap'></div>
		</div>

	</body>
</html>