<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				A Maqman vende as peças para as suas máquinas.
				<br/><br/>
				O nosso balcão de peças, instalado ao lado da oficina, dispõe de atendimento personalizado efetuado por pessoal técnico qualificado.
				<br/><br/>
				Para a sua comodidade, dispomos de pagamento eletrónico por Terminal TPA
				<br/><br/>
				Se pretender pode ligar para o contacto direto – 922 080 593
				<br/><br/>
				Ou então, na comodidade da sua secretária, pode enviar um email para pecas@maqman.net. Junte a informação mais detalhada possível.
				<br/><br/>
				Use a referência do fabricante que está gravada na peça ou indicada no respetivo catálogo.<br/>
				Se não possuir a referência, não se esqueça de indicar o número de série do equipamento.
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				MAQMAN sells a variety of machinery for Construction and Cargo handling equipment. We are continuously receiving machinery, equipment's and accessories from the different manufacturers and rotating our new machinery stock.
				</p>
			</div>
		</div>
	</body>    
</html>
