<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				A Maqman vende as peças para as suas máquinas.
				<br/><br/>
				O nosso balcão de peças, instalado ao lado da oficina, dispõe de atendimento personalizado efetuado por pessoal técnico qualificado.
				<br/><br/>
				Para a sua comodidade, dispomos de pagamento eletrónico por Terminal TPA
				<br/><br/>
				Se pretender pode ligar para o contacto direto – 922 080 593
				<br/><br/>
				Ou então, na comodidade da sua secretária, pode enviar um email para pecas@maqman.net. Junte a informação mais detalhada possível.
				<br/><br/>
				Use a referência do fabricante que está gravada na peça ou indicada no respetivo catálogo.<br/>
				Se não possuir a referência, não se esqueça de indicar o número de série do equipamento.
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				Maqman sells parts for your equipments.
				<br/><br/>
				The Parts’s facilities are side by side to the workshop, have specialized team helps you to find the correct part you need.
				<br/><br/>
				An electronic payment terminal is free for use in our shop.
				<br/><br/>
				You can call us, directly: 922 080 593
				<br/><br/>
				But if you prefer, seated in the commodity of your desk, email us your request to pecas@maqman.net . Join all the information you can collect.
				<br/><br/>
				Use the manufacture part number reference impressed on the old part or pick up the information from the spare parts catalogue
				<br/>
				If you don’t have de part number reference, remind to attach the machine serial number.

				</p>
			</div>
		</div>
	</body>    
</html>
