<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				A MAQMAN vende uma gama completa de máquinas, equipamentos e acessórios para movimentação de cargas e construção, recebendo frequentemente vários equipamentos dos diversos fabricantes e tendo alguns deles em stock.
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				MAQMAN sells a variety of machinery for Construction and Cargo handling equipment. We are continuously receiving machinery, equipment's and accessories from the different manufacturers and rotating our new machinery stock.
				</p>
			</div>
		</div>
	</body>    
</html>
