<html>
	<head>
		@{head('<link rel="stylesheet" href="css/vendas.css"/>')}
	</head>
	<body>
		<div id='intro'>
			<div id='left'>
				<h3>Português</h3>
				<p>
				A MAQMAN vende uma gama completa de máquinas, equipamentos e acessórios para movimentação de cargas e construção, recebendo frequentemente vários equipamentos dos diversos fabricantes e tendo alguns deles em stock.
				</p>
			</div>
			<div class='separator'></div>
			<div id='right'>
				<h3>English</h3>
				<p>
				MAQMAN sells a variety of machinery for Construction and Cargo handling equipment. We are continuously receiving machinery, equipment's and accessories from the different manufacturers and rotating our new machinery stock.
				</p>
			</div>
		</div>
		<div id='brands'>
			<img class ='ltp' src='/img/partners/compair.png' link='/marca/compair'></img>
			<img class ='ltp' src='/img/partners/fassi.png' link='/marca/fassi'></img>
			<img class ='ltp' src='/img/partners/manitou.png' link='/marca/manitou'></img>
			<img class ='ltp' src='/img/partners/kalmar.png' link='/marca/kalmar'></img>
			<img class ='ltp' src='/img/partners/jungheinrich.png' link='/marca/jungheinrich'></img>
			<img class ='ltp' src='/img/partners/silla.png' link='/marca/silla'></img>
			<img class ='ltp' src='/img/partners/ammann.png' link='/marca/ammann'></img>
			<img class ='ltp' src='/img/partners/mustang.png' link='/marca/mustang'></img>
			<img class ='ltp' src='/img/partners/galtrailer.png' link='/marca/galtrailer'></img>
			<img class ='ltp' src='/img/partners/sumitomo.png' link='/marca/sumitomo'></img>
			<img class ='ltp' src='/img/partners/bell.png' link='/marca/bell'></img>
		</div>
	</body>    
</html>
