@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html{
 /*background: #000000 url('/img/background.jpg') no-repeat bottom left;
 background-size: 100% 100%;
 width: 100%;
 height:100%;
 height: auto !important;
 min-height:100%;*/

background: rgb(183,183,183); /* Old browsers */
background: -moz-linear-gradient(left, rgba(183,183,183,1) 0%, rgba(255,255,255,1) 49%, rgba(183,183,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(183,183,183,1)), color-stop(49%,rgba(255,255,255,1)), color-stop(100%,rgba(183,183,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(183,183,183,1) 0%,rgba(255,255,255,1) 49%,rgba(183,183,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(183,183,183,1) 0%,rgba(255,255,255,1) 49%,rgba(183,183,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(183,183,183,1) 0%,rgba(255,255,255,1) 49%,rgba(183,183,183,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(183,183,183,1) 0%,rgba(255,255,255,1) 49%,rgba(183,183,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#b7b7b7',GradientType=1 ); /* IE6-9 */
-webkit-user-select: none;
-moz-user-select: none;
}

div#container{
  width: 1000px;
  height: 700px;
  margin-left:auto;
  margin-right:auto;
}

/*#partners{
  text-align: center;
}
#partners img{
  border:2px solid white;
  vertical-align: middle;

}*/
img#comp{
  position: absolute;
  height: 70px;
}

/* Base Styles */

#cssmenu ul:first-child{
  margin-left: 230px;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  height: 70px;
  background-color: red;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  width: auto;
}
#cssmenu > ul > li {
  float: left;
  margin-left: 7px;
  position: relative;
}
#cssmenu > ul > li > a {
  color: #000000;
  font-family: Verdana, 'Lucida Grande';
  font-weight: bolder;
  font-size: 15px;
  line-height: 70px;
  padding: 15px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
#cssmenu > ul > li > a > span:hover {
  color: #fae500;
}

#cssmenu > ul > li > a:active {
  color: white;
 text-shadow: 0 0 120px white;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
  z-index: 10;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
#cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
#cssmenu ul ul a:hover {
  background-color: #cc2c24;
  color: #f0f0f0;
}

section#body{
  margin-top: 40px;
}

#news{
    border:solid 1px whitesmoke;
    border-radius: 15px 15px 0px 0px;
    bottom: 0px;
    height: 39px;
    width: 74.5%;
    margin-right: auto;
    margin-left: 12%;
    position: fixed;
    background-color: red;
    overflow: hidden;
    display: -webkit-inline-flex;

}

#news a{
    color:white;
    font-family: serif;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}

#news ul{
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    list-style: none;

}

#news h2{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 7px;
}

#news div#right{
    margin-right: 116px;
}

.noshow{
    display:none;
}

.ltb{
  cursor: pointer;
  color:#999999;
}
h1 > span:hover{
  color:#000000;
}