div#slider{
	margin-top: 5px;
}

img.sp{
	max-width: 430px;
	position: absolute;
}
div#slider button{

}

div.text div#left, div.text div#right{
	padding-top: 5px;
	padding-right: 3px;
	width: 49%;
}
.text{
	display: -webkit-inline-box;
	font-family: trebuchet ms;
	font-size: small;
}

.text .separator{
	height: 80px;
   width: 1px;
   margin: 40px 5px;
   overflow: hidden;
   background-color: #DDD;
   border-right: 1px solid gray;
}

.frontNews span{
	position: absolute;
	margin-left: 408px;
	margin-top: 237px;
	font-family: trebuchet ms;
	font-size: 14px;
	color: #282828;
}
