#intro{
	display: -webkit-inline-box;
	width:50%;
	font-family: trebuchet ms;
	font-size:small;
	margin-top: 40px;
}

/*ul#slideMaq > li{
	display: inline;
}*/

/*ul#slideMaq > li > a{
	display: block;
}*/

section#body > span{
	font-family: trebuchet ms;
	font-size: 14px;
	top:15px;
}

ul#slideMaq > li > span{
	display: block;
	font-family: sans-serif;
	font-size: 11px;
}