<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.pt.manitou.com/manitou/pt/type/4/product/130-120-se'>120 SE</span></h1>
        	<h2>Plataforma Elevatória</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade de Carga</th>
        				<th>Elevação</th>
        				<th>Motorização</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>318 kg</td>
        				<td>11,75 m</td>
        				<td>Elétrico</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
                <div id="nav">
                <button id="previous">Previous</button>
                <button id="next">Next</button>
            </div>
    		<div id="toShow">
    			<img class='sp' src="/img/machines/120-SE-1.jpg"/>
                <img class='sp' src="/img/machines/120-SE-2.jpg"/>
                <img class='sp' src="/img/machines/120-SE-3.jpg"/>
    		</div>
		</div>
    </div>


</body>
</html>