<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.ammann-group.com/en/home/compaction/vibratory-plate/rev-vibratory-plate/technical-details/articleproduct/692/'>APR 3020</span></h1>
            <h2>Placa Reversível</h2>
            <p/>
            <table id='info'>
                <caption>Informações Técnicas</caption>
                <thead>
                    <tr>
                        <th>Potência</th>
                        <th>Peso exercido</th>
                        <th>Combustível</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>4.5 kW</td>
                        <td>230 kg</td>
                        <td>Diesel</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/APR-3020-1.jpg"/>
				<img class="sp" src="/img/machines/APR-3020-2.jpg"/>
				<img class="sp" src="/img/machines/APR-3020-3.jpg"/>
            </div>
		</div>
    </div>


</body>
</html>