<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
            <h1><span class='ltb' link='http://www.bellequipment.com/en/product/670g-672g#autolocation'>670 G/672 G</span></h1>
            <h2>Motoniveladora</h2>
            <p/>
            <table id='info'>
                <caption>Informações Técnicas</caption>
                <thead>
                    <tr>
                        <th>Motor</th>
                        <th>Peso máximo em trabalho</th>
                        <th>Pneus</th>
                        <th>Opcional</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>John Deere 185 hp</td>
                        <td>21.228 kg</td>
                        <td>17,5-25 – 12 PR</td>
                        <td>672 G com 6WD</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/670G-1.jpg"/>
				<img class="sp" src="/img/machines/670G-2.jpg"/>
				<img class="sp" src="/img/machines/670G-3.jpg"/>
			</div>
		</div>
    </div>


</body>
</html>