<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.jungheinrich.pt/produtos/equipamentos-movimentacao-carga/porta-paletes-manuaisstackers/am-22/'>AM 22</span></h1>
        	<h2>Porta Paletes Manual</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade de Carga</th>
        				<th>Elevação</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>2.200 kg</td>
        				<td>12,2 cm</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/AM-22-1.jpg"/>
				<img class="sp" src="/img/machines/AM-22-2.jpg"/>
				<img class="sp" src="/img/machines/AM-22-3.jpg"/>
                <img class="sp" src="/img/machines/AM-22-4.jpg"/>

			</div>
		</div>
    </div>


</body>
</html>