<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.bellequipment.com/en/product/b30e#autolocation'>B30 E</span></h1>
            <h2>Dumper articulado</h2>
            <p/>
            <table id='info'>
                <caption>Informações Técnicas</caption>
                <thead>
                    <tr>
                        <th>Motor</th>
                        <th>Peso</th>
                        <th>Capacidade de carga</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Mercedes Benz 322 hp</td>
                        <td>19216 kg</td>
                        <td>28000 kg</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/B30-E-1.jpg"/>
				<img class="sp" src="/img/machines/B30-E-2.jpg"/>
				<img class="sp" src="/img/machines/B30-E-3.jpg"/>
                <img class="sp" src="/img/machines/B30-E-4.jpg"/>
                <img class="sp" src="/img/machines/B30-E-5.jpg"/>
			</div>
		</div>
    </div>


</body>
</html>