<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.compair.pt/Compressor_Selector.asp?model=C50%20(G%20-%20Generator%20Optional)%20(DLT0408)&air=5&motor=35%2E5&Pressure=7+para+8&Speed=n%2Fa&section=detail&id=1718&Pressureunits=Bar%20g&MinPressure=5&Flowunits=m3/min'>C50</span></h1>
        	<h2>Compressor portátil de parafuso</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
                        <th>Caudal de ar fornecido</th>
                        <th>Pressão Máxima</th>
                        <th>Potência do motor</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
                        <td>5 m&sup3/min</td>
        				<td>8 Bar</td>
                        <td>48 Hp</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/C-50-1.jpg"/>
				<img class="sp" src="/img/machines/C-50-2.jpg"/>
                <img class="sp" src="/img/machines/C-50-3.jpg"/>
			</div>
		</div>
    </div>


</body>
</html>