<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.sillaitaly.com/prodotto.asp?id=31'>DB 3000</span></h1>
        	<h2>Misturador</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade tambor</th>
                        <th>Capacidade produção</th>
                        <th>Peso em vazio</th>
                        <th>Comprimento</th>
                        <th>Altura</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
                        <td>3.000 lts</td>
        				<td>2.400 lts</td>
                        <td>5.600 kg</td>
                        <td>5.300 mm</td>
                        <td>3.200 m</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/DB-3000-1.png"/>
				<img class="sp" src="/img/machines/DB-3000-2.jpg"/>
				<img class="sp" src="/img/machines/DB-3000-3.jpg"/>
                <img class="sp" src="/img/machines/DB-3000-4.jpg"/>
                <img class="sp" src="/img/machines/DB-3000-5.jpg"/>
                <img class="sp" src="/img/machines/DB-3000-6.jpg"/>
                
			</div>
		</div>
    </div>


</body>
</html>