<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.kalmarglobal.com/equipment/forklift-trucks/forklift-trucks-9-18-ton/'>DCE 150</span></h1>
        	<h2>Empilhador mastro frontal</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
                        <th>Motor</th> 
                        <th>Capacidade elevação</th>
                        <th>Pneus</th>
            		</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>Cummins 173 hp</td>
        				<td>15.000 kg</td>
        				<td>12.00 x 20 - 20 PR</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
                <div id="nav">
                    <button id="previous">Previous</button>
                    <button id="next">Next</button>
                </div>
        		<div id="toShow">
        			<img class='sp' src="/img/machines/DCE-150-1.jpg"/>
                    <img class='sp' src="/img/machines/DCE-150-2.jpg"/>
                    <img class='sp' src="/img/machines/DCE-150-3.jpg"/>
        		</div>
		</div>
    </div>


</body>
</html>