<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.kalmarglobal.com/equipment/reachstackers/container-handling/DRT450/'>DRT 450</span></h1>
        	<h2>Reachstacker</h2>
        	<p/>
        	<table id='info'>
                <caption>Informações Técnicas</caption>
                <thead>
                    <tr>
                        <th>Motor</th> 
                        <th>Peso</th>
                        <th>Capacidade carga</th>
                        <th>Pneus</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Yuchai 330 hp</td>
                        <td>69.600 kg</td>
                        <td>45.000 kg</td>
                        <td>18.00 x 25 – 40 PR</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id ='right'>
        	<div id="slider">
        		<div id="toShow">
        			<img class='sp' src="/img/machines/DRT-450-1.jpg"/>
                    <img class='sp' src="/img/machines/DRT-450-2.jpg"/>
                    <img class='sp' src="/img/machines/DRT-450-3.jpg"/>
        		</div>
		</div>
    </div>


</body>
</html>