<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.jungheinrich.com/en/fork-lift-trucks-at-a-glance/reach-trucks/etvetm-214216/'>ETV 216</span></h1>
        	<h2>Empilhador Retrátil</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade de Carga</th>
        				<th>Elevação</th>
        				<th>Combustível</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>1.600 kg</td>
        				<td>5 a 10,7 m</td>
        				<td>Elétrico</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/ETV-216-1.jpg"/>
				<img class="sp" src="/img/machines/ETV-216-2.jpg"/>
				<img class="sp" src="/img/machines/ETV-216-3.jpg"/>

			</div>
		</div>
    </div>


</body>
</html>