<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.fassi.com/fassi-loader-crane/heavy-duty/f385a-e-dynamic-f385ra-e-dynamic.html'>F 385</span></h1>
        	<h2>Grua para camião</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade elevação</th>
        				<th>Máxima capacidade/alcance</th>
        				<th>Altura em repouso</th>
                        <th>Peso</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>368 kNm</td>
        				<td>2,855t/12,15 m</td>
        				<td>2.430 mm</td>
                        <td>4.080 kg</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
        		<div id="toShow">
        			<img class='sp' src="/img/machines/F-385-1.jpg"/>
                    <img class='sp' src="/img/machines/F-385-2.jpg"/>
                    <img class='sp' src="/img/machines/F-385-3.jpg"/>
        		</div>
		</div>
    </div>


</body>
</html>