<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.galtrailer.pt/pt/produtos/porta-maquinas-3-eixos-reforcado'>Porta Maquinas 3 eixos</span></h1>
        	<h2>Semi Reboque</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Comprimento estrado</th>
                        <th>Eixos</th>
        				<th>Rampas hidráulicas</th>
                        <th>Desloc. lateral rampas</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
                        <td>9,130 m</td>
        				<td>3 un x 12t</td>
        				<td>2 un</td>
                        <td>3 m</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/Gal-PM3-1.jpg"/>
				<img class="sp" src="/img/machines/Gal-PM3-2.jpg"/>
				<img class="sp" src="/img/machines/Gal-PM3-3.jpg"/>
                
			</div>
		</div>
    </div>


</body>
</html>