<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.mustangmfg.com/products/SkidSteer/2056SeriesII.aspx#../../Libraries/2056_Series_II_Photo_Gallery/2056_Series_II_Fill_Mixer.sflb.ashx'>Skid Steer Loader 2056</span></h1>
        	<h2>Minicarregador</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade de Carga</th>
        				<th>Potência de motor</th>
        				<th>Combustível</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>862 kg</td>
        				<td>68 HP</td>
        				<td>Diesel</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/Must-2056-1.jpg"/>
				<img class="sp" src="/img/machines/Must-2056-2.jpg"/>
				<img class="sp" src="/img/machines/Must-2056-3.jpg"/>
			</div>
		</div>
    </div>


</body>
</html>