<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/maquinas.css"/>')}
    @{head('<script src="/js/slider.js"></script>')}
</head>
<body>
	<div id='intro'>
        <div id='left'>
        	<h1><span class='ltb' link='http://www.sumitomokenki.com/excavator/sh300-5.html'>SH300-5</span></h1>
        	<h2>Escavadora</h2>
        	<p/>
        	<table id='info'>
        		<caption>Informações Técnicas</caption>
        		<thead>
        			<tr>
        				<th>Capacidade de Elevação</th>
        				<th>Altura de Elevação</th>
        				<th>Combustível</th>
        			</tr>
        		</thead>
        		<tbody>	
        			<tr>
        				<td>2.500/3.000/3.500 Kg</td>
        				<td>3.30 m</td>
        				<td>Diesel</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div id ='right'>
        	<div id="slider">
			<div id="nav">
				<button id="previous">Previous</button>
				<button id="next">Next</button>
			</div>
			<div id="toShow">
				<img class="sp" src="/img/machines/MI-25.30.35-1.jpg"/>
				<img class="sp" src="/img/machines/MI-25.30.35-2.jpg"/>
				<img class="sp" src="/img/machines/MI-25.30.35-3.jpg"/>
                <img class="sp" src="/img/machines/MI-25.30.35-4.jpg"/>
                <img class="sp" src="/img/machines/MI-25.30.35-5.jpg"/>
			</div>
		</div>
    </div>


</body>
</html>