<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<div>
		<img class ='ltb' src='/img/partners/fassi.png' link='http://www.fassi.com/'></img>
	<div>
	<p/>

	<ul id='slideMaq'>
		<li class ='ltp' link='/maquina/FA-80'>
			<img class='machine' src='/img/machines/FA-80-small.png'/>
			<span>FA 80</span>
		</li>
		<li class ='ltp' link='/maquina/F-215'>
			<img class='machine' src='/img/machines/F-215-small.png'/>
			<span>F 215</span>
		</li>
		<li class ='ltp' link='/maquina/F-385'>
			<img class='machine' src='/img/machines/F-385-small.png'/>
			<span>F 385</span>
		</li>
	</ul>

	<p/>
	<span class='ltb' link='http://www.fassi.com/' >Outros modelos disponíveis</span>
	<script type="text/javascript">

		$('#slideMaq').hide();
		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 4
			});
			$(".nbs-flexisel-inner").height(132);
		});
	</script>

</body>
</html>