<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<div>
		<img class ='ltb' src='/img/partners/galtrailer.png' link='http://www.pt.manitou.com/manitou/pt/market/3-industry'></img>
		<span> - Outros modelos disponíveis</span>
	<div>
	<p/>

	<ul id='slideMaq'>
		<li class ='ltp' link='/maquina/Gal-B2'>
			<img class='machine' src='/img/machines/Gal-B2-small.png'/>
			<span>Basculante 2 eixos</span>
		</li>
		<li class ='ltp' link='/maquina/Gal-PM3'>
			<img class='machine' src='/img/machines/Gal-PM3-small.png'/>
			<span>Porta Máquinas 3 eixos</span>
		</li>
	</ul>
	<script type="text/javascript">

		$('#slideMaq').hide();
		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 4
			});
			$(".nbs-flexisel-inner").height(132);
		});
	</script>

</body>
</html>