<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<img class ='ltb' src='/img/partners/manitou.jpg' link='http://www.pt.manitou.com/'></img>

	<ul id='slideMaq'>
		<li class ='ltp' link='maquina/MT-1235'>
			<img class='machine' src='/img/machines/MT-1235-small.jpg'/>
			<span>MT 1235 H</span>
		</li>
		<li class ='ltp' link='maquina/MT-1440'>
			<img class='machine' src='/img/machines/MT-1440-small.png'/>
			<span>MT 1440 H</span>
		</li>
		<li class ='ltp' link='maquina/MT-1740'>
			<img class='machine' src='/img/machines/MT-1740-small.png'/>
			<span>MT 1740 H</span>
		</li>
		<li class ='ltp' link='maquina/MT-1740'>
			<img class='machine' src='/img/machines/MT-1740-small.png'/>
			<span>MT 1740 H</span>
		</li>
		<li class ='ltp' link='maquina/MT-1740'>
			<img class='machine' src='/img/machines/MT-1740-small.png'/>
			<span>MT 1740 H</span>
		</li>
	</ul>
	<a href="http://www.pt.manitou.com/manitou/pt/market/3-industry"> Estes e mais modelos aqui</a>
	<script type="text/javascript">

		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 3
			});
		});
	</script>

</body>
</html>