<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<div>
		<img class ='ltb' src='/img/partners/mustang.png' link='http://www.mustangmfg.com/Home.aspx'></img>
		<span> - Outros modelos disponiveis</span>
	<div>
	<p/>

	<ul id='slideMaq'>
		<li class ='ltp' link='/maquina/Must-2041'>
			<img class='machine' src='/img/machines/Must-2041-small.png'/>
			<span>Skid Steer Loader 2041</span>
		</li>
		<li class ='ltp' link='/maquina/Must-2056'>
			<img class='machine' src='/img/machines/Must-2056-small.png'/>
			<span>Skid Steer Loader 2056</span>
		</li>
	</ul>
	<script type="text/javascript">

		$('#slideMaq').hide();
		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 4
			});
			$(".nbs-flexisel-inner").height(132);
		});
	</script>

</body>
</html>