<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<div>
		<img class ='ltb' src='/img/partners/sillaitaly.png' link='http://www.sillaitaly.com/'></img>
	<div>
	<p/>

	<ul id='slideMaq'>
		<li class ='ltp' link='/maquina/DB-3000'>
			<img class='machine' src='/img/machines/DB-3000-small.png'/>
			<span>DB 3000</span>
		</li>
		<li class ='ltp' link='/maquina/DB-4000'>
			<img class='machine' src='/img/machines/DB-4000-small.png'/>
			<span>DB 4000</span>
		</li>
	</ul>
	<p/>
	<span class='ltb' link='http://www.sillaitaly.com/' >Outros modelos disponíveis</span>

	<script type="text/javascript">

		$('#slideMaq').hide();
		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 4
			});
			$(".nbs-flexisel-inner").height(132);
		});
	</script>

</body>
</html>