<!DOCTYPE html>
<html>
<head>
    @{head('<title>Custom headers</title>')}
    @{head('<meta charset="utf-8" />')}
    @{head('<meta http-equiv="X-UA-Compatible" content="IE=10" />')}
    @{head('<meta name="format-detection" content="telephone=no"/>')}
    @{head('<link rel="stylesheet" href="/css/marca.css"/>')}
    @{head('<link rel="stylesheet" href="/css/lib/flexisel.css"/>')}
</head>
<body>

	<div>
		<img class ='ltb' src='/img/partners/sumitomo.png' link='http://www.sumitomokenki.com/'></img>
	<div>
	<p/>

	<ul id='slideMaq'>
		<li class ='ltp' link='/maquina/SH210-5'>
			<img class='machine' src='/img/machines/SH210-5-small.png'/>
			<span>SH210-5</span>
		</li>
		<li class ='ltp' link='/maquina/SH300-5'>
			<img class='machine' src='/img/machines/SH300-5-small.png'/>
			<span>SH300-5</span>
		</li>
		<li class ='ltp' link='/maquina/SH350HD-5'>
			<img class='machine' src='/img/machines/SH350HD-5-small.png'/>
			<span>SH350HD-5</span>
		</li>
	</ul>

	<p/>
	<span class='ltb' link='http://www.sumitomokenki.com/' >Outros modelos disponíveis</span>
	<script type="text/javascript">

		$('#slideMaq').hide();
		$(window).on("load",function(){
			$('#slideMaq').flexisel({
				clone: false,
				visibleItems: 4
			});
			$(".nbs-flexisel-inner").height(132);
		});
	</script>

</body>
</html>